/*Intigers*/
$buttons: rgba(148, 86, 86, 0.952);
/**/
/*Product add*/
.list .label {
  padding-top: 15px;
  padding-bottom: 15px;
}

#show,
#show2,
#show3 {
  border-style: groove;
}

/**/
/*Product list*/
.box {
  border-style: groove;
  display: inline-block;
  width: 325px;
  text-align: center;

  div {
    padding: 20px 0;
    font-size: 20px;
  }
}

#btn_delete {
  margin-top: 15px;
  color: $buttons;

  &:hover {
    background: rgb(134, 31, 31);
  }
}

#heading {
  color: $buttons;
}

/**/
@import "./header";
