/*Intigers*/
/**/
/*Product add*/
.list .label {
  padding-top: 15px;
  padding-bottom: 15px;
}

#show,
#show2,
#show3 {
  border-style: groove;
}

/**/
/*Product list*/
.box {
  border-style: groove;
  display: inline-block;
  width: 325px;
  text-align: center;
}

.box div {
  padding: 20px 0;
  font-size: 20px;
}

#btn_delete {
  margin-top: 15px;
  color: rgba(148, 86, 86, 0.952);
}

#btn_delete:hover {
  background: #861f1f;
}

#heading {
  color: rgba(148, 86, 86, 0.952);
}

/**/
header {
  background: royalblue;
}
/*# sourceMappingURL=style.css.map */